.activity-card {
  border: none;
  -webkit-box-shadow: 0 0 13px 0 rgba(36, 36, 41, 0.44);
  box-shadow: 0 0 13px 0 rgba(36, 36, 41, 0.44);
  margin-bottom: 30px;
  background: #2a3142;
  margin-top: 60px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.mt-0 {
}
.header-title {
  font-size: 16px;
}

.activity-feed {
  padding: 15px 15px 0 15px;
  list-style: none;
}

.activity-feed ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

.feed-item {
  position: relative;
  padding-bottom: 29px;
  padding-left: 30px;
  border-left: 2px solid rgba(255, 255, 255, 0.07);
}
.feed-item-list {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.activity-text {
  position: relative;
  top: -3px;
}
.feed-input {
  width: 100%;
}
.hidden {
  display: none;
}
.date {
  display: block;
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 13px;
}
.activity-feed .feed-item::after {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -9px;
  width: 16px;
  height: 16px;
  border-radius: 30px;
  background: #02a499;
}
.btn {
  border-radius: 3px;
  font-size: 14px;
}
.btn-primary {
  background-color: #626ed4;
  border: 1px solid #626ed4;
}

.text-center {
}
