.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  color: #ced4da;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table {
  border-collapse: collapse;
}
.rounded-circle {
  border-radius: 50% !important;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.table td,
.table th {
  padding: 1.5em;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  padding-left: 0px;
}
table td,
.table th {
  vertical-align: middle;
  border-color: rgba(255, 255, 255, 0.05) !important;
}
th {
  font-weight: 500;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > td {
  padding: 17px 17px;
}
.container-page {
  /* width: 100%; */
  margin-top: 5em;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.edit-img {
  height: 20px;
  width: 20px;
}
